@define-color bar-bg rgba(31, 35, 40, 0.95);

@define-color main-bg #131422;
@define-color main-fg #999dad;

@define-color wb-act-bg #93cee9;
@define-color wb-act-fg #1f2328;

@define-color wb-hvr-bg #93cee9;
@define-color wb-hvr-fg #1f2328;

* {
  color: @wb-act-bg;
  all: unset;
  font-size: 12px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 500ms;

}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@main-bg, .99);
  box-shadow: 8px 8px 8px 0 rgba(0,0,0,.95);
  border-radius: 16px;
  margin: 0px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 16px;
  border: 0.5px solid #809CAD;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 0.5px solid #809CAD;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 16px;
  background-color: @main-fg ;
  margin: 6px;
  border: 0.5px solid #809CAD;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @main-fg;
  border: 0.5px solid #809CAD;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @wb-hvr-bg;
  color: @main-bg;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 6px;
}

.body {
    font-size: 0.9rem;
    font-weight: 555px;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 10px;
  padding: 4px;
  border-radius: 16px;
  background-color: transparent;
  border: 0.1px solid #809CAD;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @main-fg;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @wb-act-bg;
  color: @main-bg;
}

.notification.critical progress {
  background-color: @wb-act-bg;
}

.notification.low progress,
.notification.normal progress {
  background-color: @wb-act-bg;
}
