@import "../waybar/themes/Catppuccin-Mocha.css";

window {
    font-family: "SF Pro Text", "GeistMono Nerd Font Propo";
    font-size: 1.2em;
    color: @main-fg;
    background-color: alpha(@main-bg, 0.6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: transparent;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
    color: @main-fg;
}

button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 30%;
}

button:hover {
    background-size: 60%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    background-color: @main-bg;
    color: transparent;
}

#lock {
  background-image: image(
    url("$HOME/.config/wlogout/icons/lock_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  margin: 0px;
}

#logout {
  background-image: image(
    url("$HOME/.config/wlogout/icons/logout_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
  margin: 0px;
}

#suspend {
  background-image: image(
    url("$HOME/.config/wlogout/icons/suspend_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
  margin: 0px;
}

#shutdown {
  background-image: image(
    url("$HOME/.config/wlogout/icons/shutdown_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
  margin: 0px;
}

#hibernate {
  background-image: image(
    url("$HOME/.config/wlogout/icons/hibernate_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
  margin: 0px;
}

#reboot {
  background-image: image(
    url("$HOME/.config/wlogout/icons/reboot_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  margin: 0px;
}
