* {
  background-image: none;
  font-size: 12;
}

@import "/home/armaghan/.config/waybar/themes/Rose-Pine.css";

window {
  background-color: transparent;
}

button {
  color: #ffffff;
  background-color: @main-bg;
  outline-style: none;
  border: 2px;
  border-width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: @main-bg;
  background-size: 30%;
}

button:hover {
  background-color: @wb-hvr-bg;
  background-size: 25%;
  border-radius: 25px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 25px 0px 0px 25px;
  margin: 0px;
}

button:hover#logout {
  border-radius: 7px 7px 7px 7px;
  margin: 0px;
}

button:hover#suspend {
  border-radius: 7px 7px 7px 7px;
  margin: 0px;
}

button:hover#shutdown {
  border-radius: 7px 7px 7px 7px;
  margin: 0px;
}

button:hover#hibernate {
  border-radius: 7px 7px 7px 7px;
  margin: 0px;
}

button:hover#reboot {
  border-radius: 0px 25px 25px 0px;
  margin: 0px;
}

#lock {
  background-image: image(
    url("$HOME/.config/wlogout/icons/lock_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  border-radius: 15px 0px 0px 15px;
  margin: 0px;
}

#logout {
  background-image: image(
    url("$HOME/.config/wlogout/icons/logout_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
  margin: 0px;
}

#suspend {
  background-image: image(
    url("$HOME/.config/wlogout/icons/suspend_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
  margin: 0px;
}

#shutdown {
  background-image: image(
    url("$HOME/.config/wlogout/icons/shutdown_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
  margin: 0px;
}

#hibernate {
  background-image: image(
    url("$HOME/.config/wlogout/icons/hibernate_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
  margin: 0px;
}

#reboot {
  background-image: image(
    url("$HOME/.config/wlogout/icons/reboot_${BtnCol}.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  border-radius: 0px 15px 15px 0px;
  margin: 0px;
}
