@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #0F0F0F;
@define-color main-fg #BECAD3;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #1E1E1E;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #1E1E1E;
