* {
    main-bg:            #111111e6;
    main-fg:            #BECAD3ff;
    main-br:            #BECAD3ff;
    main-ex:            #f5c2e7ff;
    select-bg:          #BECAD3ff;
    select-fg:          #1E1E1Eff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
