* {
    main-bg:            #101419;
    main-fg:            #cbced3;
    main-br:            #93cee9;
    main-ex:            #95d3af;
    select-bg:          #82B7B0;
    select-fg:          #101419;
    separatorcolor:     transparent;
    border-color:       transparent;
}
